absl-py==2.4.0
accelerate==1.12.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.12.1
async-timeout==4.0.3
attrs==25.4.0
audioread==3.1.0
babel==2.18.0
bitsandbytes==0.49.2
blinker==1.9.0
boto3==1.42.59
botocore==1.42.59
brotli==1.2.0
cached_path==1.8.9
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cn2an==0.5.23
colorama==0.4.6
coloredlogs==15.0.1
configparser==7.2.0
contourpy==1.3.2
cryptography==46.0.5
csvw==3.7.0
cycler==0.12.1
cytoolz==1.1.0
dataclasses-json==0.6.7
datasets==4.6.1
dateparser==1.1.8
decorator==5.2.1
dill==0.4.0
dlinfo==2.0.0
docopt==0.6.2
docstring_parser==0.17.0
einops==0.8.2
einops-exts==0.0.4
einx==0.3.0
ema-pytorch==0.7.9
encodec==0.1.1
exceptiongroup==1.3.1
f5-tts==1.1.16
fastapi==0.135.0
ffmpy==1.0.0
filelock==3.12.4
Flask==3.1.3
flask-cors==6.0.2
flatbuffers==25.12.19
fonttools==4.61.1
frozendict==2.4.7
frozenlist==1.8.0
fsspec==2025.12.0
gitdb==4.0.12
GitPython==3.1.46
google-api-core==2.30.0
google-auth==2.48.0
google-cloud-core==2.5.0
google-cloud-storage==3.9.0
google-crc32c==1.8.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
gradio==6.8.0
gradio_client==2.2.0
greenlet==3.3.2
groovy==0.1.2
grpcio==1.78.0
gruut==2.4.0
gruut-ipa==0.13.0
gruut_lang_en==2.0.1
h11==0.16.0
h2==4.3.0
hf-xet==1.3.2
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==1.5.0
humanfriendly==10.0
hydra-core==1.3.2
Hypercorn==0.18.0
hyperframe==6.1.0
idna==3.11
importlib_resources==6.5.2
inflect==7.5.0
intervaltree==3.2.1
isodate==0.7.2
itsdangerous==2.2.0
jieba==0.42.1
Jinja2==3.1.6
jmespath==1.1.0
joblib==1.5.3
jsonargparse==4.46.0
jsonlines==1.2.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kiwisolver==1.4.9
langchain-community==0.0.38
langchain-text-splitters==0.0.2
langsmith==0.1.147
language-tags==1.2.0
lazy_loader==0.4
lhotse==1.32.2
librosa==0.10.2.post1
lilcom==1.8.2
linacodec @ git+https://github.com/ysharma3501/LinaCodec.git@c0ae7c7285e121475c27592cfbb600624b714290
llvmlite==0.46.0
loguru==0.7.3
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.2
marshmallow==3.26.2
matplotlib==3.10.8
mdurl==0.1.2
monotonic_align @ git+https://github.com/resemble-ai/monotonic_align.git@c6e5e6cb19882164027eb6e35118e841eed9298e
more-itertools==10.8.0
mpmath==1.3.0
msgpack==1.1.2
multidict==6.7.1
multiprocess==0.70.18
munch==4.0.0
mypy_extensions==1.1.0
networkx==2.8.8
nltk==3.9.3
num2words==0.5.14
numba==0.64.0
numpy==1.26.4
ollama==0.6.1
omegaconf==2.3.0
onnxruntime==1.23.2
orjson==3.11.7
packaging==26.0
pandas==2.3.3
peft==0.18.1
phonemizer==3.3.0
pillow==12.0.0
piper-phonemize==1.3.0
platformdirs==4.9.2
pooch==1.9.0
priority==2.0.0
proces==0.1.7
propcache==0.4.1
proto-plus==1.27.1
protobuf==6.33.5
psutil==7.2.2
pyarrow==23.0.1
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.10.6
pydantic-settings==2.13.1
pydantic_core==2.27.2
pydub==0.25.1
Pygments==2.19.2
PyJWT==2.11.0
pyparsing==3.3.2
pypinyin==0.55.0
pyreadline3==3.5.4
python-crfsuite==0.9.12
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.22
pytz==2025.2
pywin32==311
PyYAML==6.0.3
Quart==0.20.0
rdflib==7.6.0
referencing==0.37.0
regex==2026.2.28
requests==2.32.5
requests-toolbelt==1.0.0
rfc3986==1.5.0
rich==13.9.4
rjieba==0.2.0
rpds-py==0.30.0
rsa==4.9.1
s3transfer==0.16.0
safehttpx==0.1.7
safetensors==0.7.0
scikit-learn==1.7.2
scipy==1.15.3
segments==2.3.0
semantic-version==2.10.0
sentencepiece==0.2.1
sentry-sdk==2.53.0
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sortedcontainers==2.4.0
sounddevice==0.5.5
soundfile==0.12.1
soxr==1.0.0
SQLAlchemy==2.0.47
sse-starlette==3.3.2
starlette==0.52.1
sympy==1.13.1
tabulate==0.9.0
taskgroup==0.2.2
tenacity==8.5.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
termcolor==3.3.0
threadpoolctl==3.6.0
tokenizers==0.22.2
tomli==2.4.0
tomlkit==0.13.3
toolz==1.1.0
torch==2.6.0+cu124
torchaudio==2.6.0+cu124
torchcodec==0.10.0
torchdiffeq==0.2.5
torchvision==0.21.0+cu124
tqdm==4.67.3
transformers==5.2.0
transformers-stream-generator==0.0.5
txtsplit==1.0.0
typeguard==4.5.1
typer==0.24.1
typer-slim==0.24.0
typeshed_client==2.8.2
typing==3.7.4.3
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
Unidecode==1.4.0
uritemplate==4.2.0
urllib3==2.6.3
uvicorn==0.41.0
vocos==0.1.0
wandb==0.25.0
Werkzeug==3.1.6
win32_setctime==1.2.0
wsproto==1.3.2
x-transformers==2.16.1
xxhash==3.6.0
yarl==1.22.0
